body {
    font-family: 'arial', 'sans-serif';
    font-size: 11px;
}
table, thead, tbody, tr, td, th {
    font-size: inherit;
    font-family: inherit;
}
#content {
    position:absolute;
    top: 0; left:0; bottom:0; right:0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#list {
}
#list td {
    text-align: right;
    padding-left: 5px;
}
#list td:nth-child(1) {
    text-align: left;
    padding-left: 5px;
}
#list th {
    text-align: left;
    padding-left: 5px;
}
#chart {
}
