*.o
*.a
*.la
*.lo
*.swp
/aclocal.m4
/autom4te.cache/
/config.*
/compile
/config.status
/Makefile.in
/Makefile
/configure
/libtool
/ltmain.sh
/missing
/stamp-h1
/install-sh
/depcomp
/test
/go
.deps/
.dirstamp
